/*
This file is used as a common style file.
This application thema color is the followings.
# Grean
  - Dark : #0C555D
  - Normal : #58BE89
  - Light : #26AE90
# Black
  - Dark : #27313D
  - Gray : #7C858E
  - Light : #CCD0D5
*/
/* 全体設定 */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input::placeholder {
    color: #7C858E;
}
textarea::placeholder {
    color: #7C858E;
}
caption {
    padding: 10px;
    caption-side: top;
}

.no_margin {
    margin: 0rem!important;
}

.no_padding {
    padding:0rem;
}

.myheader { 
    height: 5rem;
}
.myfield_large {
    position: relative;
    height: 14rem;
}
.myfield_midium {
    position: relative;
    height: 10rem;
}
.mybtn_sm {
    height: 1.5rem;
    padding: 0.1rem 0.1rem;
    width: 4rem;
    font-size: 1.2rem;
    color: #fff;
    line-height: 0;
    border-radius: 0.5rem; 
    border:0;
}
.mybtn_xs {
    height: 1.5rem;
    padding: 0.1rem 0.1rem;
    width: 3rem;
    font-size: 0.8rem;
    color: #fff;
    line-height: 0;
    border-radius: 0.5rem; 
    border:0;
}
.mybtn_wd {
    height: 1.5rem;
    padding: 0.1rem 0.1rem;
    font-size: 1.2rem;
    color: #fff;
    line-height: 0;
    border-radius: 0.5rem; 
    border:0;
}
.mybtn_lg {
    padding: 0.5vw 0.5vw;
    width: 23vw;
    height: 10vh;
    font-size: 3rem;
    font-weight: bold;
    line-height: 0;
    border-radius: 0.5rem; 
    border:0;
    letter-spacing: .1em;
}
.mybtn_exlg {
    padding: 0.5vw 0.5vw;
    width: 30vw;
    height: 20vh;
    font-size: 7.2vw;
    line-height: 0;
    border-radius: 1.5rem; 
    background: none;
    background-color: #ffffff;
    border:0;
}
.v-center {
    display: table;
    vertical-align: middle;
}
.mytitle {
    font-size: 1.5rem!important;
    letter-spacing: .2rem;
    font-weight: bold; 
    padding-top: 1rem;
    padding-bottom: .2rem;
}
.myrounded {
    border-radius:40px;
}
.myline_height {
    padding-top: .25rem!important;
    padding-bottom: .25rem!important;
}
.myform_size {
    font-size: 1.2rem;
    height: 1.5rem;
    letter-spacing: .12rem;
}

/* # MyFont */
.myfont {
    letter-spacing: .1em;
    text-align: justify;
    color: #ffffff!important;
}
.myfont_black {
    letter-spacing: .1em;
    text-align: justify;
    color: #27313F!important;
}
.myfont_green {
    letter-spacing: .1em;
    text-align: justify;
    color: #0C555D!important;
}
.myfont-family_words {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 0em;
    font-size: 1.25rem;
    margin:auto;
}

/* # MyColor */
.mygreen_dark {
    background-color: #0C555D;
    color : #ffffff;
}
.mygreen_normal {
    background-color: #26ae90;
    color: #ffffff;
}
.mygreen_light {
    margin:0px;
    background-color: #60C4B0;
    color: #ffffff;
}
.mygray_dark {
    background-color: #27313D;
    color: #ffffff;
}
.mygray_normal {
    background-color: #7C858E;
    color: #ffffff;
}
.mygray_light {
    background-color: #CCD0D5;
    color: #ffffff;
}
.footer-size {
  padding: 0 15px;
}
    
/*
-- My table setting...
*/
.mytcol-10{width:10%;}
.mytcol-20{width:20%;}
.mytcol-30{width:30%;}
.mytcol-40{width:40%;}
.mytcol-50{width:50%;}
.mytcol-60{width:60%;}
.mytcol-70{width:70%;}
.mytcol-80{width:80%;}
.mytcol-90{width:90%;}
.mytable_enter{
    table-layout: fixed;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.mytable_input > tr > td > input {
    border: 0;
    background: none;
    color: #27313F!important;
    font-size: 1.2rem;
}
.mytable_input > tr > td > textarea {
    border: 0;
    background: none;
    color: #27313F!important;
    font-size: .9rem;
}
.table {
    margin-bottom: 1rem!important;
}
.mymargin_right {
    margin-right: 10px;
}

/*
-- Replace standard setting...
*/
.modal-dialog{
    max-width: 60%;
}
.modal-title{
    font-size: 3rem;
    margin-bottom: -1rem;
    font-weight: 900!important;
}
.modal-footer{
    font-size: 1.5rem;
}
form.cmxform label.error, label.error {
 color: red;
}
.modal-content {
    border-radius : 5rem!important;
}